.buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    border: 0;
}

.buttons button {
    background-color: #dc0303;
    width: 10rem;
    border: 0;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 1rem;
}

.buttons button:hover {
    background-color: #bf0303;
}

@media(max-width: 42.5rem) {
    .buttons {
        width: 65%;
        margin-top: 1rem;
    }
}
