.clientes-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.clientes-area button {
    padding: 1rem;
    cursor: pointer;
    background-color: #6767db;
    border: 0;
    border-radius: 1rem;
    color: #FFF;
    font-weight: 700;
}

.clientes-area button:hover {
    background-color: #4d4da3;
}

@media(max-width: 42.5rem) {
    .clientes-page {
        padding: 0 1.5rem;
    }

    .clientes-area {
        flex-direction: column-reverse;
    }

    .clientes-area button {
        margin-bottom: 1rem;
    }
}