.random-dog-area {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-dog-area button {
    width: 20rem;
    height: 5rem;
    padding: 1rem;
    border-radius: 1.5rem;
    border: 0;
    background-color: #999;
    color: #FFF;
    font-weight: 700;
    font-size: 1.8rem;
    cursor: pointer;
}

.random-dog-area button:hover {
    background-color: #666;
}

.random-dog-image, .random-dog-loading {
    margin-top: 2rem;
}

.random-dog-loading {
    font-size: 1.8rem;
}

.random-dog-image img {
    max-width: 50rem;
}

@media(max-width: 42.5rem) {
    .random-dog-image img {
        max-width: 30rem;
    }
}

