.user-area {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 0.1rem solid #000;
}

.data {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    padding: 1.2rem 0;
}

.data span {
    display: none;
}

.data img {
    border-radius: 50%;
}

@media(max-width: 42.5rem) {
    .user-area {
        display: block;
        padding: 2rem 0;
    }

    .data {
        padding: 0.5rem 0;
        font-size: 1.6rem;
    }

    .data span {
        display: block;
        white-space: nowrap;
        margin-right: 0.5rem;
        color: #666;
        font-weight: 700;
    }

    .data img {
        width: 8rem;
    }
}